[submodule "submodules/GRMustache"]
	path = submodules/GRMustache
	url = git@github.com:drekka/GRMustache.git
[submodule "submodules/PublicAutomation"]
	path = submodules/PublicAutomation
	url = git://github.com/TestingWithFrank/PublicAutomation.git
[submodule "submodules/CocoaHttpServer"]
	path = submodules/CocoaHttpServer
	url = git://github.com/robbiehanson/CocoaHTTPServer.git
